# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [4]:
#Respuesta

respuesta_ejemplo= 5 * (2 + 2) * (5 - 2) * 2
print(respuesta_ejemplo)

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [5]:
respuesta_1= (5*2)**2
print(respuesta_1)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [6]:
respuesta_ejemplo = 120
respuesta_1 = 100
evaluacion = respuesta_ejemplo > respuesta_1
print(evaluacion)

True

3. Utilizando sólo los siguientes inputs: ```5``` y ```1``` maneja los operadores tal que el output sea ```0```

In [7]:
respuesta_3= (5 / 5) - 1
print(respuesta_3)

0.0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [8]:
respuesta_4= (2*2)+(2/2)
print(respuesta_4)

5.0

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [9]:
x= 1500
y= 1000
v= (x + y) == 2200 
print(v)

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [10]:
z=600
a= 400
print(z + a)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [11]:
total_congresitas= 130
horas_semana= 40
semanas_trabajadas= 48

total_horas_año= (total_congresitas* horas_semana * semanas_trabajadas)
print("Trabajaron", total_horas_año, "en total en todo el año")

Trabajaron 249600 en total en todo el año

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [12]:
horastrabajadas_mes= 40*4

salario_hora= 15600/horastrabajadas_mes
print("El salario por hora de un congresista es:", salario_hora)

El salario por hora de un congresista es: 97.5

In [13]:
suma_salarios_hora = salario_hora * total_congresitas
print(suma_salarios_hora)

12675.0

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [14]:
IGV=0.1
total_facturacion=3426
valor_base=3426/(1+IGV)
monto_IGV=total_facturacion-valor_base
desc_IGV=valor_base*0.08
mensaje6=f"El IGV es {IGV}"
print(mensaje6)
mensaje7=f"El total de facturación es S/3426"
mensaje8=f"El monto del impuesto es S/{round(monto_IGV,2)}"
mensaje9=f"El valor base sin impuesto es S/{round(valor_base,2)}"
mensaje10=f"El descuento de IGV es S/{round(desc_IGV,2)}"
print(mensaje7)
print(mensaje8)
print(mensaje9)
print(mensaje10)

El IGV es 0.1
El total de facturación es S/3426
El monto del impuesto es S/311.45
El valor base sin impuesto es S/3114.55
El descuento de IGV es S/249.16

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [15]:
# Sueldo mensual de Cristina y un congresista
cris_sueldoM= 1130
salario_m= 15600
# Sueldo anual de Cristina y un congresista 
cris_sueldoA= cris_sueldoM*12
salario_a= salario_m*12
cris_sueldoA<salario_a
print("El salario que corresponde a 12 meses de trabajo por Cristina es:", cris_sueldoA) 
print("El salario que corresponde a 12 meses de trabajo por un congresista es:", salario_a)
print(cris_sueldoA<salario_a)

El salario que corresponde a 12 meses de trabajo por Cristina es: 13560
El salario que corresponde a 12 meses de trabajo por un congresista es: 187200
True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [16]:
familias = 1023
monto_recompensa = 1200000000  # 1200 millones

# Monto inicial de recompensa por familia
recompensa_familiar_inicial = monto_recompensa / familias

# Monto entero por familia (redondeado hacia arriba)
import math
recompensa_entero = math.ceil(recompensa_familiar_inicial)
print("El monto de recompensa por familia es:", recompensa_entero)

# Soles adicionales que se deben agregar
nuevo_monto_total = recompensa_entero * familias
soles_adicionales = nuevo_monto_total - monto_recompensa
print("Soles adicionales que se deben agregar:", soles_adicionales)

El monto de recompensa por familia es: 1173021
Soles adicionales que se deben agregar: 483

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [17]:
mi_lista = ["Perú 2025", True, 3.14, 42, ["Bruno Mars", "Jaze"]]

print(mi_lista)

['Perú 2025', True, 3.14, 42, ['Bruno Mars', 'Jaze']]

13. Tenemos la siguiente lista de cursos:

In [18]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [19]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [20]:
cursos = cursos + ["Derecho"]
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Derecho']

In [21]:
cursos.append("Finanzas")
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Derecho', 'Finanzas']

In [22]:
cursos.extend(["Historia"])
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Derecho', 'Finanzas', 'Historia']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [23]:
cursos[4]

'Relaciones Internacionales'

13.3.
- Remueve el curso que menos te guste de la lista.

In [24]:
cursos.remove("Ciencia Politica")
print(cursos)

['Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Derecho', 'Finanzas', 'Historia']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [25]:
numeros = [22, 27, 74.2, 16.8, 125, 80, 100]
print(numeros)

[22, 27, 74.2, 16.8, 125, 80, 100]

In [26]:
numeros.sort()
print(numeros)

[16.8, 22, 27, 74.2, 80, 100, 125]

In [27]:
numeros_promedio = sum(numeros) / len(numeros)
print(round(numeros_promedio, 2))

63.57

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [28]:
x = 6
if x % 2 == 0 and x % 3 == 0: print("Es múltiplo de 2 y 3")
elif x % 2 == 0: print("Es múltiplo de 2")
elif x % 3 == 0: print("Es múltiplo de 3")
else: print("Otro caso")

Es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [29]:
def clasificar_edad(edad): 
    if edad < 12: return "Niño" 
    elif 12 <= edad <= 17: return "Adolescente"
    elif 18 <= edad <= 24: return "Joven"
    elif 25 <= edad <= 64: return "Adulto"
    else: return "Adulto Mayor"

In [30]:
clasificar_edad(10)

'Niño'

In [31]:
clasificar_edad(19)

'Joven'

In [32]:
clasificar_edad(25)

'Adulto'

In [33]:
clasificar_edad(65)

'Adulto Mayor'