# Tarea 1

**Integrante : Marco Antonio Pascual Chavez Huiza** 

**Códio : 20234163**

**Grupo N° : 5**

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [1]:
#Respuesta
resultado1=((5**2)*5) - 5
print(resultado1)

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [2]:
resultado2=(5*2)**2
print(resultado2)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [3]:
resultado3=resultado1>resultado2
print(resultado3)

True

3. Utilizando sólo los siguientes inputs: ```5 y 1``` maneja los operadores tal que el output sea ```0```

In [4]:
resultado4=1//5
print(resultado4)

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [5]:
resultado5=int((2**2)+(2/2))
print(resultado5)

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [6]:
x=1300
y=1200
suma=x+y
print(suma)
v=suma==2200
print(v)

2500
False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [7]:
z=900
a=100
suma=z+a
print(suma)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [8]:
congresistas=130
semanas_año=48
horasXsemana=40
HorasTotal=congresistas*semanas_año*horasXsemana
print('El total de horas trabajados por lo 130 congresistas al año son: ',HorasTotal)

El total de horas trabajados por lo 130 congresistas al año son:  249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [9]:
mesesXaño=12
semanas_año=48
horasXsemana=40
#Calculamos el número de semanas por mes
semanasXmes=int(semanas_año/mesesXaño)
print("Número de semanas por cada mes: ", semanasXmes, "semanas")
#Calculamos el total de horas por mes
Total_hora_mes=semanasXmes*horasXsemana
print("El total de horas trabajadas de cada congresista por mes es de: ",Total_hora_mes, "horas")
#Calculamos el salario por hora:
salario=15600 #salario por mes
salarioXhora=salario/Total_hora_mes
print("El salario de un congresista por hora es de: ", salarioXhora, "soles")

#Salario total de 130 congresistas por hora.
numero_congresistas=130
salario_total=numero_congresistas*salarioXhora
print("El salario por hora del total de 130 congresitas es de: ",salario_total, "soles" )

Número de semanas por cada mes:  4 semanas
El total de horas trabajadas de cada congresista por mes es de:  160 horas
El salario de un congresista por hora es de:  97.5 soles
El salario por hora del total de 130 congresitas es de:  12675.0 soles

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [10]:
igv_restaurant=0.1  #Procentaje de IGV
ingreso_diario =3426 #despues de impuestos
base=ingreso_diario/(1-0.1) #El total de facturación
impuesto=base*0.1
descuento=base*0.08

print("Ingresos promedio diario despues de impuestos: ", ingreso_diario, "soles")
print("Ingresos promedio diario antes de impuestos (Base): ",base, "soles")
print("El monto de impuestos diarios es de :", impuesto, "soles")
print("El descuento del 8% sobre la base es de:", descuento, "soles")

Ingresos promedio diario despues de impuestos:  3426 soles
Ingresos promedio diario antes de impuestos (Base):  3806.6666666666665 soles
El monto de impuestos diarios es de : 380.6666666666667 soles
El descuento del 8% sobre la base es de: 304.5333333333333 soles

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [11]:
#sueldos mensuales
sueldo_cristina=1130
sueldo_congresitas=15600
#numero de meses al año
meses=12

sueldo_anual_cristina=sueldo_cristina*meses
sueldo_anual_congresitas=sueldo_congresitas*meses


if sueldo_anual_cristina<sueldo_anual_congresitas:
    sueldo_menor=True
    print("Sueldo anual Cristina: ",sueldo_anual_cristina)
    print("Sueldo anual Congresita: ",sueldo_anual_congresitas)
    print("El sueldo anual de Cristina es menor al salario anual de un congresita, por lo que la afirmación es :", sueldo_menor)
else:
    sueldo_menor=False
    print("El sueldo anual de Cristina es mayor al salario anual de un congresita, por lo que la afirmación es :", sueldo_menor)

Sueldo anual Cristina:  13560
Sueldo anual Congresita:  187200
El sueldo anual de Cristina es menor al salario anual de un congresita, por lo que la afirmación es : True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [12]:
n_familia=1023
monto_inicial=1200*1000000
residuo=monto_inicial%n_familia
#condicional para ver si se cumple el monto exacto
if residuo!=0:
    #aquí, si yo se que existe un residuo, entonces el cociente no es múltiplo de 1023, por lo que al tener 
    #el floor, solo es encontrar el número entero superior por eso es +1. El resto es entendible
    monto_nuevoXfamilia=(monto_inicial//n_familia)+1
    monto_final=monto_nuevoXfamilia*n_familia
    diferencia=monto_final-monto_inicial
    print("Monto final total: ",monto_final, " soles")
    print("La diferencia entre el monto inicial y el final es de :" ,diferencia, " soles")
    print("Dicho monto final total compensará a cada familia con: ", monto_final/n_familia, " soles")
else:
    print("Monto final total por familia: ",monto_inicial/n_familia)

Monto final total:  1200000483  soles
La diferencia entre el monto inicial y el final es de : 483  soles
Dicho monto final total compensará a cada familia con:  1173021.0  soles

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [13]:
lista_ejemplo=["Marco",5>7,525,475.5,["Gustavo Cerati","Freddie Mercury"]]
print(lista_ejemplo)

['Marco', False, 525, 475.5, ['Gustavo Cerati', 'Freddie Mercury']]

13. Tenemos la siguiente lista de cursos:

In [14]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales']

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [15]:
tamaño=len(cursos)
print("El total de cursos dentro de la lista es de: ",tamaño, " cursos")

El total de cursos dentro de la lista es de:  5  cursos

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [16]:
#Forma 1
adiciona_forma_1=cursos + ["Física", "Matemática"]
print(adiciona_forma_1)

#Forma 2
#mantenemos una copia de la lista original
cursos_forma_2=cursos[:]
cursos_forma_2.append("Física")
cursos_forma_2.append("Matemática")
print(cursos_forma_2)

#volvemos a tener la lista original para el tercer caso

#forma 3
cursos_forma_3=cursos[:]
cursos_forma_3.extend(["Física", "Matemática"])  
print(cursos_forma_3)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Física', 'Matemática']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Física', 'Matemática']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Física', 'Matemática']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [17]:
print(cursos[4])

Relaciones Internacionales

13.3.
- Remueve el curso que menos te guste de la lista.

In [18]:
cursos.remove("Relaciones Internacionales")
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [19]:
#1).- Creamos la Lista con los números
lista_numeros=[22,27,74.2,16.8,125,80,100]
print(lista_numeros)
#2).- Ordenamos los números
lista_numeros.sort()
print(lista_numeros)
#3).- Sacamos el promedio
n=len(lista_numeros)
suma_numeros=sum(lista_numeros)
promedio=suma_numeros/n
print("El promedio de los números es: ", promedio)

[22, 27, 74.2, 16.8, 125, 80, 100]
[16.8, 22, 27, 74.2, 80, 100, 125]
El promedio de los números es:  63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [20]:
x=6
if x%2==0:
    if x%3==0:
        print("x es múltiplo de 2 y 3")
    else:
        print("x es múltiplo de 2")
elif x%3==0:
    print("x es múltiplo de 3")
else:
    print("Otro caso")

x es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [21]:
def clasificar_edad(x):
    if x<12:
        print("La persona es: Niño")
    elif x>=12 and x<=17:
        print("La persona es: Adolecente")
    elif x>=18 and x<=24:
        print("La persona es: Joven")
    elif x>=25 and x<=64:
        print("La persona es: Adulto")
    else:
        print("La persona es: Adulto Mayor")
    return

clasificar_edad(10)

La persona es: Niño

In [22]:
clasificar_edad(19)

La persona es: Joven

In [23]:
clasificar_edad(25)

La persona es: Adulto

In [24]:
clasificar_edad(70)

La persona es: Adulto Mayor