# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.  

Grupo 2:
- Isaac José Chupa Baylón
- Yumiko Kaori Zelada Rojas
- Sinthya Bernabé Ortega
- Keith Valery Díaz Guevara
- Maricielo Alburqueque Castillo

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [1]:
#Respuesta
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [2]:
#Respuesta
output1 = (5 * 5) * (2 * 2)
output1

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [3]:
#Respuesta
is_greater = 120 > output1
is_greater

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [4]:
#Respuesta
output3 = 51 % 51
output3

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [5]:
#Respuesta
output4 = 2 + 2 + 2 // 2
output4

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [6]:
#Respuesta
x = 1250
y = 1250
v = (x + y == 2200)
v

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [7]:
#Respuesta
z = 600
a = 400
z + a

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [8]:
#Respuesta
horas_semanales = 40
semanas_al_ano = 48
congresistas = 130

total_horas = horas_semanales * semanas_al_ano * congresistas
total_horas

249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [9]:
#Respuesta
salario_mensual = 15600
salario_anual = salario_mensual * 12
horas_anuales = horas_semanales * semanas_al_ano

salario_por_hora = salario_anual / horas_anuales
salario_total_por_hora = salario_por_hora * congresistas

salario_por_hora, salario_total_por_hora

(97.5, 12675.0)

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [10]:
# Porcentaje de IGV reducido para restaurantes y hoteles
porcentaje_IGV = 0.10  # 10%

# Total facturado mensual (monto con IGV incluido)
total_facturacion = 3426  # soles diarios

# Cálculo del valor base sin impuesto
# Fórmula: valor_neto = monto total / (1 + porcentaje_IGV)
valor_base = total_facturacion / (1 + porcentaje_IGV) # valor base = valor neto

# Cálculo del monto del impuesto
monto_IGV = valor_base * porcentaje_IGV

# Descuento del IGV en soles (comparado con el IGV normal del 18%)
# Fórmula: descuento = valor_base * (0.18 - 0.10)
descuento_IGV = valor_base * (0.18 - porcentaje_IGV)

# Mostrar resultados
print(f"Porcentaje de IGV aplicado para restaurantes es: {porcentaje_IGV * 100:.0f}%")
print(f"Total facturado diario, incluido IGV es: S/ {total_facturacion:.2f}")
print(f"Valor base sin IGV es: S/ {valor_base:.2f}")
print(f"Monto del IGV (10%) es: S/ {monto_IGV:.2f}")
print(f"Descuento por reducción del IGV (comparado con 18%) es: S/ {descuento_IGV:.2f}")

Porcentaje de IGV aplicado para restaurantes es: 10%
Total facturado diario, incluido IGV es: S/ 3426.00
Valor base sin IGV es: S/ 3114.55
Monto del IGV (10%) es: S/ 311.45
Descuento por reducción del IGV (comparado con 18%) es: S/ 249.16

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [11]:
# Sueldo mensual de Cristina VS el de un congresista
sueldo_cristina = 1130  # monto en soles
sueldo_congresista = 15600  # monto en soles

# Número de meses trabajados en un año
meses = 12

# Cálculo del salario anual
salario_anual_cristina = sueldo_cristina * meses
salario_anual_congresista = sueldo_congresista * meses

# Comparación booleana
es_menor = salario_anual_cristina < salario_anual_congresista

# Mostrar resultados
print(f"Salario anual de Cristina es: S/ {salario_anual_cristina}")
print(f"Salario anual de un congresista es: S/ {salario_anual_congresista}")
print(f"¿El salario anual de Cristina es menor al de un congresista?: {es_menor}")

Salario anual de Cristina es: S/ 13560
Salario anual de un congresista es: S/ 187200
¿El salario anual de Cristina es menor al de un congresista?: True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [12]:
# datos
monto_negociado = 1200000000
numero_familias = 1023

# residuo de la división
residuo = monto_negociado % numero_familias

# monto adicional necesario.
if residuo != 0:
  output =   monto_adicional = numero_familias - residuo
else:
  outut = 0

print(f"Se deben agregar {monto_adicional} soles.")

Se deben agregar 483 soles.

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [13]:
lista_4 = ["Maricielo", True, 2025, 3.14, ["Dua lipa", "Phoebe Bridgers"]]

13. Tenemos la siguiente lista de cursos:

In [14]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [15]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [16]:
# Usando suma (+) con una nueva lista
cursos = cursos + ["Historia"]

# Usando append
cursos.append("Psicología")

# Usando extend
cursos.extend(["Filosofía"])

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [17]:
cursos[4]  # O usar cursos[-4] si cambió la lista

'Relaciones Internacionales'

13.3.
- Remueve el curso que menos te guste de la lista.

In [18]:
if "Antropología" in cursos:
    cursos.remove("Antropología")
else:
    print("El curso 'Antropología' no está en la lista.")

El curso 'Antropología' no está en la lista.

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [19]:
lista_1 = [22,27,74.2,16.8,125,80,100]
print(lista_1)

[22, 27, 74.2, 16.8, 125, 80, 100]

In [20]:
lista_1.sort()
print(lista_1)

[16.8, 22, 27, 74.2, 80, 100, 125]

In [21]:
sum(lista_1)/len(lista_1)

63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [22]:
X = 6

if X % 2 == 0 and X % 3 == 0 :
    print(f"{X} es múltiplo de 2 y 3")

elif X % 3 == 0:
    print(f"{X} es múltiplo de 3")

elif X % 2 == 0 :
    print(f"{X} es múltiplo de 2")

else: 
    print("Otro caso")

6 es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [23]:
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif 12 <= edad <= 17:
        return "Adolescente"
    elif 18 <= edad <= 24:
        return "Joven"
    elif 25 <= edad <= 64:
        return "Adulto"
    elif edad >= 65:
        return "Adulto Mayor"

# Pruebas:

print(clasificar_edad(10))
print(clasificar_edad(19))
print(clasificar_edad(25))
print(clasificar_edad(70))

Niño
Joven
Adulto
Adulto Mayor