# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [ ]:
#GRUPO 7
#INTEGRANTES:
 
    #Fabiana Valentina Angulo Tapia 20230829
    #Diego David Collantes Rivera 20231031
    #Camila Aileen Seminaria Uscamayta 20231393
    #Gabriela Mylen Espinoza Rodriguez 20253399
    #Stefano Kalev De La Cruz Johanson 20231238

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [2]:
resultado_1 = (5 * 5) * (2 * 2)
print(resultado_1)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [3]:
es_mayor = 120 > resultado_1
print(es_mayor)

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [12]:
output=51-51
output

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [9]:
output = 2+2*2 - 2/2
output

5.0

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [8]:

x = 1200  
y = 1300  

v = (x + y == 2200)
print(x+y)
print(v)

2500
False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [22]:
z = 999
a = 1

c = (z+a)
print(c)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [6]:
ejer_7 = 40 * 48 * 130
print(ejer_7)

249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [13]:
salario_por_año=15600*12
horas_totales_año=40*48
salario_por_hora= salario_por_año/horas_totales_año
print("Salario por hora de un congresista es "+ str(salario_por_hora))
salario_por_hora_130_congresistas= salario_por_hora*130
print("La suma de los salarios por hora de los 130 congresistas es "+ str(salario_por_hora_130_congresistas))

Salario por hora de un congresista es 97.5
La suma de los salarios por hora de los 130 congresistas es 12675.0

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [10]:
porcentaje_igv = 0.10  
total_facturacion = 3426 

valor_base = total_facturacion / (1 + porcentaje_igv)

monto_impuesto = total_facturacion - valor_base

descuento_igv = valor_base * 0.08

print(f"Porcentaje de IGV: {porcentaje_igv*100}%")
print(f"Total de facturación (con IGV): S/ {total_facturacion:.2f}")
print(f"Valor base (sin IGV): S/ {valor_base:.2f}")
print(f"Monto del impuesto (10% del valor base): S/ {monto_impuesto:.2f}")
print(f"Descuento del IGV (8% del valor base): S/ {descuento_igv:.2f}")

Porcentaje de IGV: 10.0%
Total de facturación (con IGV): S/ 3426.00
Valor base (sin IGV): S/ 3114.55
Monto del impuesto (10% del valor base): S/ 311.45
Descuento del IGV (8% del valor base): S/ 249.16

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [5]:
sueldo_cristina_mensual = 1130  
sueldo_congresista_mensual = 15600
meses_trabajados = 12

sueldo_cristina_anual = sueldo_cristina_mensual * meses_trabajados
sueldo_congresista_anual = sueldo_congresista_mensual * meses_trabajados
salario_menor = (sueldo_cristina_anual>sueldo_congresista_anual)

print("Cristina recibe un salario mensual de : ",sueldo_cristina_mensual, "y trabajo ", meses_trabajados, " meses")
print("El congresista recibe un salario mensual de : ",sueldo_congresista_mensual, "y trabajo ", meses_trabajados, " meses")
print(salario_menor)

Cristina recibe un salario mensual de :  1130 y trabajo  12  meses
El congresista recibe un salario mensual de :  15600 y trabajo  12  meses
False

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [2]:
familias = 1023
monto = 1_200_000_000 

resto = monto % familias
faltante = familias - resto

print(f"Soles adicionales: {faltante}")

Soles adicionales: 483

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [7]:
mi_lista = [
    "Hola, que tal",            # un string
    True,                    # un booleano
    27,                      # primer valor numérico (entero)
    10.05,                    # segundo valor numérico (decimal)
    ["Duki", "Omar Courtz"]  # lista con dos strings (artistas favoritos)
]
print(mi_lista)

['Hola, que tal', True, 27, 10.05, ['Duki', 'Omar Courtz']]

13. Tenemos la siguiente lista de cursos:

In [16]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [17]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [18]:
cursos= cursos + ["Finanzas"]
print(cursos)

cursos.append("Artes")
print(cursos)

cursos.extend(["Medicina"])
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Artes']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Artes', 'Medicina']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [19]:
cursos[4]

'Relaciones Internacionales'

13.3.
- Remueve el curso que menos te guste de la lista.

In [20]:
cursos.remove("Ciencia Politica")
print(cursos)

['Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Artes', 'Medicina']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [11]:
lista = [22, 27, 74.2, 16.8, 125, 80, 100]
lista

lista = [22, 27, 74.2, 16.8, 125, 80, 100]
lista.sort()
lista

lista = [22, 27, 74.2, 16.8, 125, 80, 100]
promedio = sum(lista) / len(lista)
promedio

63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [1]:
x = 6

if x % 2 == 0 and x % 3 == 0:
    print("Es múltiplo de 2 y 3")
elif x % 2 == 0:
    print("Es múltiplo de 2")
elif x % 3 == 0:
    print("Es múltiplo de 3")
else:
    print("Otro caso")

Es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [23]:
edad = 10

if edad < 12:
    print("Niño")
elif 12 <= edad <= 17:
    print("Adolescente")
elif 18 <= edad <= 24:
    print("Joven")
elif 25 <= edad <= 64:
    print("Adulto")
elif edad >= 65:
    print("Adulto Mayor")

Niño

In [24]:
edad = 19

if edad < 12:
    print("Niño")
elif 12 <= edad <= 17:
    print("Adolescente")
elif 18 <= edad <= 24:
    print("Joven")
elif 25 <= edad <= 64:
    print("Adulto")
elif edad >= 65:
    print("Adulto Mayor")

Joven

In [25]:
edad = 25

if edad < 12:
    print("Niño")
elif 12 <= edad <= 17:
    print("Adolescente")
elif 18 <= edad <= 24:
    print("Joven")
elif 25 <= edad <= 64:
    print("Adulto")
elif edad >= 65:
    print("Adulto Mayor")

Adulto

In [26]:
edad = 70

if edad < 12:
    print("Niño")
elif 12 <= edad <= 17:
    print("Adolescente")
elif 18 <= edad <= 24:
    print("Joven")
elif 25 <= edad <= 64:
    print("Adulto")
elif edad >= 65:
    print("Adulto Mayor")

Adulto Mayor