# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [ ]:
#Respuesta
m = (5 * 2) * (5 + 7)


print(m)

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [3]:
x = 5
y = 2
resultado1 = (x*y)*(x*y)
print(resultado1)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [4]:
output_ejercicio1 = (x*y)*(x*y) #100
output_ejercicio2 = 145

sera_mayor = output_ejercicio2 > output_ejercicio1
print(sera_mayor)

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [5]:
num_disponible = 51
resultado2 = num_disponible - num_disponible
print(resultado2)

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [6]:
num_disponible1 = 2
resultado3 = (num_disponible1 + num_disponible1 + num_disponible1) - (num_disponible1 // num_disponible1)
print(resultado3)

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [7]:
x1 = 2100
y1 = 400
v = (x1 + y1) == 2200
print(v)

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [8]:
z = 10 * 20 + 7 * 10
a = 1000 - z
print(z + a)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [21]:
# numero de congresistas = 130
# horas semanales trabajadas = 40
# numero de semanas al año trabajadas = 48
num_congresistas = 130
horas_semanales = 40
numero_semanas = 48

resultado_horas_trabajadas = (num_congresistas * horas_semanales * numero_semanas)
print(resultado_horas_trabajadas)

249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [20]:
salario_congresistas = 15600
num_congresistas = 130
horas_semanales = 40
numero_semanas = 48

horas_anuales = horas_semanales * numero_semanas
salario_porhora = (salario_congresistas * 12) / horas_anuales

suma_salarios_hora = salario_porhora * num_congresistas

print(f"El salario por hora de un congresista es: {salario_porhora:.2f} soles/hora")
print(f"La suma de los salarios por hora de los congresistas es: {suma_salarios_hora:.2f} soles/hora")

El salario por hora de un congresista es: 97.50 soles/hora
La suma de los salarios por hora de los congresistas es: 12675.00 soles/hora

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [44]:
facturacion = 3426
total = 1/0.9*facturacion
print("El total de la facturación es:", total)

impuesto = total - facturacion
print("El impuesto es:", impuesto)

porcentaje_igv = 0.10  
total_facturado = 3426  

valor_base = total_facturado / (1 + porcentaje_igv)

monto_impuesto = valor_base * porcentaje_igv

descuento_igv = valor_base * 0.08  

print(f"El valor base sin impuesto es: S/ {valor_base:.2f}")
print(f"El monto del IGV (10%) es: S/ {monto_impuesto:.2f}")
print(f"El descuento por tasa reducida (8% del valor base) es: S/ {descuento_igv:.2f}")

El total de la facturación es: 3806.666666666667
El impuesto es: 380.66666666666697
El valor base sin impuesto es: S/ 3114.55
El monto del IGV (10%) es: S/ 311.45
El descuento por tasa reducida (8% del valor base) es: S/ 249.16

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [19]:
sueldo_cristinamensual = 1130 #sueldo minimo
meses_trabajocristina = 12
salario_anualcristina = sueldo_cristinamensual * meses_trabajocristina # S/ 13,560

salario_congresistas = 15600
meses_trabajocongresista = 12
salario_anualcongresista = salario_congresistas * meses_trabajocongresista # S/ 187,200

resultado4 = salario_anualcongresista > salario_anualcristina

print(f"El salario anual de Cristina es: S/ {salario_anualcristina:,}")
print(f"El salario anual de un congresista es: S/ {salario_anualcongresista:,}")
print(f"¿Cristina gana menos que un congresista? {resultado4}")

El salario anual de Cristina es: S/ 13,560
El salario anual de un congresista es: S/ 187,200
¿Cristina gana menos que un congresista? True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [39]:
familia_compe = 1023
nuevo_negocio = 1200000000
compensacion = nuevo_negocio/familia_compe
print("esta es la compensación inicial a las familias afectadas:", compensacion, "en millones de soles")
#el monto de compensación debe ser un número entero
print("compensacion por familia en enteros sería:",int(compensacion))
#resta de decimal y entero
resta = nuevo_negocio % 1023
print("este sería el dinero que deber recibir cada familia", resta)
decimal = resta/1023
print("representa la cantidad decimal a recibir por cada familia", decimal)
#haciendo que esto sea entero
entero = 1-decimal

#ahora el valor que le tiene que adicionar a los 1200 millones 
valor_adicional = entero * 1023
print(f"El valor adicional que se debe agregar al monto negociado es: {valor_adicional} millones de soles")

esta es la compensación inicial a las familias afectadas: 1173020.5278592375 en millones de soles
compensacion por familia en enteros sería: 1173020
este sería el dinero que deber recibir cada familia 540
representa la cantidad decimal a recibir por cada familia 0.5278592375366569
El valor adicional que se debe agregar al monto negociado es: 483.0 millones de soles

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [73]:
mi_lista = [
    "Peru si ira al mundial",      
    2025 > 2005,                      
    777,                        
    9.12,                      
    ["Laufey", "Anuel"]  
]

print("Contenido de la lista:")
print(mi_lista)
print("\nTipos de cada elemento:")
for elemento in mi_lista:
    print(f"{elemento} -> {type(elemento).__name__}")

Contenido de la lista:
['Peru si ira al mundial', True, 777, 9.12, ['Laufey', 'Anuel']]

Tipos de cada elemento:
Peru si ira al mundial -> str
True -> bool
777 -> int
9.12 -> float
['Laufey', 'Anuel'] -> list

13. Tenemos la siguiente lista de cursos:

In [83]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [84]:
num_elementos = len(cursos)
print(num_elementos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [85]:
cursos = cursos + ["Finanzas"]
print("Los cursos ahora son:", cursos)

Los cursos ahora son: ['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas']

In [86]:
cursos.append("Comunica")
print("Después de usar 'append':", cursos)

Después de usar 'append': ['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Comunica']

In [87]:
cursos.extend(["Gastronomia"])
print("Después de usar 'extend':", cursos)

Después de usar 'extend': ['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Comunica', 'Gastronomia']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [80]:
indice_cursos = cursos.index("Relaciones Internacionales")
print(f"El índice de 'Relaciones Internacionales' es: {indice_cursos}")

El índice de 'Relaciones Internacionales' es: 4

13.3.
- Remueve el curso que menos te guste de la lista.

In [81]:
indice_cursos = cursos.index("Antropologia")
print(f"El índice de 'Antropologia' es: {indice_cursos}")

El índice de 'Antropologia' es: 2

In [82]:
del cursos[2] #Antropologia
print("Lista final:", cursos)

Lista final: ['Ciencia Politica', 'Economia', 'Sociologia', 'Relaciones Internacionales', 'Finanzas', 'Comunica', 'Gastronomia']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [89]:
numeros_lista = [22, 27, 74.2, 16.8, 125, 80, 100]
print("La lista creada es:", numeros_lista)

La lista creada es: [22, 27, 74.2, 16.8, 125, 80, 100]

In [90]:
numeros_lista.sort()  
print("La lista ordenada se ve asi:", numeros_lista)

La lista ordenada se ve asi: [16.8, 22, 27, 74.2, 80, 100, 125]

In [91]:
promedio_obtenido = sum(numeros_lista) / len(numeros_lista)
print(f"El promedio es: {promedio_obtenido:.4f}")

El promedio es: 63.5714

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [88]:
x_ejemplo = 6 

if x_ejemplo % 2 == 0 and x_ejemplo % 3 == 0:  
    print("Es múltiplo de 2 y 3")
elif x_ejemplo % 2 == 0:  
    print("Es múltiplo de 2")
elif x_ejemplo % 3 == 0:  
    print("Es múltiplo de 3")
else:  
    print("Otro caso")

Es múltiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [93]:
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif 12 <= edad <= 17:
        return "Adolescente"
    elif 18 <= edad <= 24:
        return "Joven"
    elif 25 <= edad <= 64:
        return "Adulto"
    else:
        return "Adulto Mayor"

In [94]:
edad_persona1 = 10
print(f"Edad: {edad_persona1}. Entonces es un {clasificar_edad(edad_persona1)}")

Edad: 10. Entonces es un Niño

In [95]:
edad_persona2 = 19
print(f"Edad: {edad_persona2}. Entonces es un {clasificar_edad(edad_persona2)}")

Edad: 19. Entonces es un Joven

In [96]:
edad_persona3 = 25
print(f"Edad: {edad_persona3}. Entonces es un {clasificar_edad(edad_persona3)}")

Edad: 25. Entonces es un Adulto

In [97]:
edad_persona4 = 70
print(f"Edad: {edad_persona4}. Entonces es un {clasificar_edad(edad_persona4)}")

Edad: 70. Entonces es un Adulto Mayor